
  .loadanim {
    width: 0%;
    transition: all .7s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  .loaderSpinner {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #30c591;
    transition: all 0.75s;
    z-index: 1000;
    flex-direction: column;
    gap: 1rem;
  }
  
  .loaderSpinner {
    opacity: 1;
    transition: opacity 1s ease; /* Ajoutez une transition d'opacité */
  }
  
  .loader_hidden {
    opacity: 0;
  }